@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* width */
.scrollbarWidth::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.scrollbarTrack::-webkit-scrollbar-track {
  background: #ebeaea;
}

/* Handle */
.scrollbarThumb::-webkit-scrollbar-thumb {
  background: #efc586;
}

/* Handle on hover */
.scrollbarHover::-webkit-scrollbar-thumb:hover {
  background: #fdb242;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  /* border: 1px solid #253341; */
  -webkit-text-fill-color: black;
  /* -webkit-box-shadow: 0 0 0px 1000px #253341 inset; */
  /* box-shadow: 0 0 0px 1000px #253341 inset; */
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid #253341; */
  -webkit-text-fill-color: white;
  /* -webkit-box-shadow: 0 0 0px 1000px #253341 inset; */
  /* box-shadow: 0 0 0px 1000px #253341 inset; */
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}

/* loader */

.loaders {
  display: flex;
  animation: bounce 2s ease-in-out infinite;
}

.loader {
  width: 15px; /* Adjust as needed */
  height: 15px; /* Adjust as needed */
  margin-right: 10px;
  border-radius: 50%;
  border: 8px solid red;
  background-color: transparent;
  animation: bounce 2s ease-in-out infinite alternate;
}

.loader:nth-child(2) {
  animation-delay: 0.4s;
}

.loader:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust bounce distance */
  }
}


@keyframes slideIn {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

@layer base {
  @font-face {
    font-family: Gilmer Regular;
    src: url("./../src/assets/fonts/Gilmer Regular.otf") format("opentype");
  }
  @font-face {
    font-family: Gilmer-Bold;
    src: url("./../src/assets/fonts/Gilmer Bold.otf") format("opentype");
  }
  @font-face {
    font-family: Gilmer-Medium;
    src: url("./../src/assets/fonts/Gilmer Medium.otf") format("opentype");
  }
  @font-face {
    font-family: Gilmer-Heavy;
    src: url("./../src/assets/fonts/Gilmer Heavy.otf") format("opentype");
  }
  @font-face {
    font-family: Gilmer-Light;
    src: url("./../src/assets/fonts/Gilmer Light.otf") format("opentype");
  }
}
